In [1]:
import pandas as pd
import numpy as np
import pymongo

In [2]:
ft_path = "Food_Trucks.csv"
ft_df = pd.read_csv(ft_path)
ft_df.head()

,ID,LICENSE ID,ACCOUNT NUMBER,SITE NUMBER,LEGAL NAME,DOING BUSINESS AS NAME,ADDRESS,CITY,STATE,ZIP CODE,...,APPLICATION TYPE,PAYMENT DATE,LICENSE TERM START DATE,LICENSE TERM EXPIRATION DATE,DATE ISSUED,LICENSE STATUS,LICENSE STATUS CHANGE DATE,LATITUDE,LONGITUDE,LOCATION
0,2262478-20150816,2410350,381436,1,YESENIA N. LOPEZ,MAR.ICECREAM,2637 S THROOP ST 1ST,CHICAGO,IL,60608.0,...,RENEW,07/01/2015,08/16/2015,08/15/2017,08/26/2015,AAI,NaN,41.844671,-87.654962,"(41.84467072147077, -87.6549622241458)"
1,2060558-20110524,2060558,357097,1,"BERGSTEIN'S NY DELICATESSEN, LLC","BERGSTEIN'S NY DELICATESSEN, LLC",200 DIXIE HWY 1ST F,CHICAGO HEIGHTS,IL,60411.0,...,ISSUE,11/23/2010,05/24/2011,06/15/2013,05/24/2011,AAC,12/29/2012,NaN,NaN,NaN
2,2147045-20120405,2147045,370964,1,"SOUPS IN THE LOOP, LLC",SOUPS IN THE LOOP,2777 MANNHEIM RD,DES PLAINES,IL,60018.0,...,ISSUE,03/29/2012,04/05/2012,04/15/2014,04/05/2012,AAC,12/29/2012,NaN,NaN,NaN
3,2087610-20110518,2087610,360498,1,"LMP SERVICES, INC.",CUPCAKES FOR COURAGE,110 W PARK AVE,ELMHURST,IL,60126.0,...,ISSUE,04/29/2011,05/18/2011,06/15/2013,05/18/2011,AAC,12/29/2012,NaN,NaN,NaN
4,2037166-20120616,2151139,353839,1,ABUNDANT FOOD INCORPORATED,ABUNDANT RESTAURANT,17429 CENTER ST,EAST HAZEL CREST,IL,60429.0,...,RENEW,06/13/2012,06/16/2012,06/15/2014,07/10/2012,AAC,12/29/2012,NaN,NaN,NaN

In [3]:
census_path = "IllinoisCensus_updated.csv"
census_df = pd.read_csv(census_path)
census_df.head()

,zipcode,agi_stub,N1,mars1,MARS2,MARS4,PREP,N2,NUMDEP,A00100,A02650,A00200,N26270,A26270,N03210,A18425,A18300,A04800,N12000,A12000
0,0,1,1945310,1386260,186770,345630,952670,2499210,799660,24015334,24408351,18486146,34210,75607,62050,16692,168614,4102100,11090,18002
1,0,2,1391180,764820,284280,313570,729100,2518330,861680,50692975,51280648,41683263,46590,427786,152320,93278,400843,27732716,16770,33919
2,0,3,865920,415530,311340,117530,482970,1683190,509540,53356694,53935928,41656318,42950,543411,127140,239864,718818,37167234,20440,51674
3,0,4,578350,191090,324100,50270,340420,1288020,385550,50179832,50642741,37483734,35850,553868,61190,323550,797094,37656278,16330,51763
4,0,5,909960,159930,702110,36260,550910,2378270,767710,125040878,126311367,91613425,98950,2422180,105360,1140426,1915629,101957760,45120,269033

In [4]:
ft_df.rename(columns={"DOING BUSINESS AS NAME":"business_name",
                "ZIP CODE":"zip_code",
                "APPLICATION TYPE":"app_type",
                "DATE ISSUED":"date_issued",
                "LICENSE STATUS":"license_status"},
                inplace = True)
ft_df.head()

,ID,LICENSE ID,ACCOUNT NUMBER,SITE NUMBER,LEGAL NAME,business_name,ADDRESS,CITY,STATE,zip_code,...,app_type,PAYMENT DATE,LICENSE TERM START DATE,LICENSE TERM EXPIRATION DATE,date_issued,license_status,LICENSE STATUS CHANGE DATE,LATITUDE,LONGITUDE,LOCATION
0,2262478-20150816,2410350,381436,1,YESENIA N. LOPEZ,MAR.ICECREAM,2637 S THROOP ST 1ST,CHICAGO,IL,60608.0,...,RENEW,07/01/2015,08/16/2015,08/15/2017,08/26/2015,AAI,NaN,41.844671,-87.654962,"(41.84467072147077, -87.6549622241458)"
1,2060558-20110524,2060558,357097,1,"BERGSTEIN'S NY DELICATESSEN, LLC","BERGSTEIN'S NY DELICATESSEN, LLC",200 DIXIE HWY 1ST F,CHICAGO HEIGHTS,IL,60411.0,...,ISSUE,11/23/2010,05/24/2011,06/15/2013,05/24/2011,AAC,12/29/2012,NaN,NaN,NaN
2,2147045-20120405,2147045,370964,1,"SOUPS IN THE LOOP, LLC",SOUPS IN THE LOOP,2777 MANNHEIM RD,DES PLAINES,IL,60018.0,...,ISSUE,03/29/2012,04/05/2012,04/15/2014,04/05/2012,AAC,12/29/2012,NaN,NaN,NaN
3,2087610-20110518,2087610,360498,1,"LMP SERVICES, INC.",CUPCAKES FOR COURAGE,110 W PARK AVE,ELMHURST,IL,60126.0,...,ISSUE,04/29/2011,05/18/2011,06/15/2013,05/18/2011,AAC,12/29/2012,NaN,NaN,NaN
4,2037166-20120616,2151139,353839,1,ABUNDANT FOOD INCORPORATED,ABUNDANT RESTAURANT,17429 CENTER ST,EAST HAZEL CREST,IL,60429.0,...,RENEW,06/13/2012,06/16/2012,06/15/2014,07/10/2012,AAC,12/29/2012,NaN,NaN,NaN

In [5]:
census_df.rename(columns={"zipcode":"zip_code",
                "A00100":"agi",
                "A02650":"total_income",
                "N2":"number_of_individuals",
                "NUMDEP":"number_of_dependents"},
                inplace = True)
census_df.head()

,zip_code,agi_stub,N1,mars1,MARS2,MARS4,PREP,number_of_individuals,number_of_dependents,agi,total_income,A00200,N26270,A26270,N03210,A18425,A18300,A04800,N12000,A12000
0,0,1,1945310,1386260,186770,345630,952670,2499210,799660,24015334,24408351,18486146,34210,75607,62050,16692,168614,4102100,11090,18002
1,0,2,1391180,764820,284280,313570,729100,2518330,861680,50692975,51280648,41683263,46590,427786,152320,93278,400843,27732716,16770,33919
2,0,3,865920,415530,311340,117530,482970,1683190,509540,53356694,53935928,41656318,42950,543411,127140,239864,718818,37167234,20440,51674
3,0,4,578350,191090,324100,50270,340420,1288020,385550,50179832,50642741,37483734,35850,553868,61190,323550,797094,37656278,16330,51763
4,0,5,909960,159930,702110,36260,550910,2378270,767710,125040878,126311367,91613425,98950,2422180,105360,1140426,1915629,101957760,45120,269033

In [6]:
crop_ft_df = ft_df[["business_name", "zip_code","app_type","date_issued", "license_status"]]
crop_census_df = census_df[["zip_code", "agi_stub", "agi", "total_income", "number_of_individuals", "number_of_dependents"]]

In [7]:
crop_ft_df["zip_code"] = crop_ft_df["zip_code"].values.astype(np.int64)

c:\users\patrick leon\.conda\envs\pythondata\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [8]:
group_census_df = census_df[["zip_code", "agi", "total_income", "number_of_individuals", "number_of_dependents"]]
group_census_df = group_census_df.groupby("zip_code").sum().reset_index()
group_census_df

,zip_code,agi,total_income,number_of_individuals,number_of_dependents
0,0,491437144,497243063,11405390,3701250
1,60002,974085,983256,22730,6920
2,60004,2950351,2986182,51520,15570
3,60005,1587983,1608033,28840,8340
4,60007,1389136,1403611,33090,8930
...,...,...,...,...,...
1221,62995,84821,85664,3260,970
1222,62996,11935,12029,480,120
1223,62998,7207,7241,290,90
1224,62999,24845,24981,1240,430
1225,99999,2931148,2946786,65140,18430

In [9]:
merge_df = pd.merge(crop_ft_df,group_census_df, on="zip_code", how="left")
merge_df.head()

,business_name,zip_code,app_type,date_issued,license_status,agi,total_income,number_of_individuals,number_of_dependents
0,MAR.ICECREAM,60608,RENEW,08/26/2015,AAI,1432564.0,1447737.0,55170.0,18960.0
1,"BERGSTEIN'S NY DELICATESSEN, LLC",60411,ISSUE,05/24/2011,AAC,962696.0,969723.0,47200.0,20070.0
2,SOUPS IN THE LOOP,60018,ISSUE,04/05/2012,AAC,914025.0,922102.0,29240.0,10160.0
3,CUPCAKES FOR COURAGE,60126,ISSUE,05/18/2011,AAC,3554330.0,3610411.0,45740.0,15330.0
4,ABUNDANT RESTAURANT,60429,RENEW,07/10/2012,AAC,318401.0,320385.0,12880.0,5080.0

In [10]:
businesses = merge_df["business_name"].unique()
businesses

array(['MAR.ICECREAM', "BERGSTEIN'S NY DELICATESSEN, LLC",
       'SOUPS IN THE LOOP', 'CUPCAKES FOR COURAGE', 'ABUNDANT RESTAURANT',
       'CHERYL L SMITH', "PECAN AND CHARLIE'S MOBILE CUPCAKERY LLC",
       'GIAVIA SWEETS', "STEAKW' CH, INC.", 'SWEETIE CAKES',
       'K I BAR & RESTAURANT', "BUDDY'S SPECIAL EVENTS, INC.",
       'Homage Street Food', 'SAMICH BOX', 'LA AZTECA PALETERIA',
       "PHILLIP'S ICE CREAM", 'CHICAGO FRUIT CART, INC.',
       'NEIGHBOR CAPITAL LLC', 'TAMALLI SPACE CHARROS LLC',
       'LA HUMITA ON WHEELS', 'HERITAGE BICYCLES GENERAL STORE',
       'CHICAGO CUPCAKE LLC', 'PORK CHOP', 'ISLA TROPICAL',
       'ANDY ICE CREAM', "D'S HOUSE", "BUMBLE BEE'S ICE CREAM",
       'PUEBLA ICE CREAM', "MINA'S MEXICAN HOME COOKING AND SNACKS",
       'PALETERIA REINA DE SABORES', 'ALASKA PALETERIA Y NEVERIA',
       'JO SNOW', 'TAQUERO FUSION', 'SNAK-O-RAMA', 'ARCO IRIS',
       'PALETERIAS MONARCA, CORP.', 'THUNDERBIRD - ARROYO',
       'CARNIVALE FOOD TRUCK', 'PALETERIA CARRUCEL',
       'PARS ICE CREAM CO. INC.', 'THE ROOF CROP, LLC',
       'PALETERIA OSO POLAR, INC.', 'ZFT', 'PALETERIA AZTECA #2',
       'STOP N GO LLC', 'LA BOULANGERIE FOOD TRUCK',
       'THUNDERBIRD CATERING', 'A.SWEETS GIRL LLC', 'SANCHEZ CATERING',
       'LIFEWAY KEFIR SHOP', 'QUALITY CATERING', 'CHICAGO LUNCHBOX',
       'PALETERIA AYUTLA', 'JAMAICA ISLAND JERK CHICKEN',
       "ERNESTINE'S PRODUCE STAND, INC.", 'PALETERIA MONARCA',
       'THE FAT SHALLOT', 'PALETERIA OSO POLAR, INC', 'YOLIS TAMALES',
       "PANCHO' S ICE CREAM",
       'PALETERIA Y NEVERIA LA MEXICANA YOGURT AND CHURRO SHOP LTD.',
       'BEAVERS COFFEE & DONUTS', 'PALETERIA REYNA DEL SUR',
       "HAROLD' S CHICKEN # 55", 'BAMBI', 'COOKIES AND CREAM',
       'FRUTYLAND', "JENI' S SPLENDID ICE CREAMS", 'TGL GROUP - JERK',
       'PALETERIA LA MORELIA', 'MR. BROAST', 'AMERICAN GLORY FOOD TRUCK',
       "BIRYANI' S", 'SAUSAGE FEST', 'FALAFEL BROTHERS', 'CARBON KITCHEN',
       'NAANSENSE FOOD TRUCK', '3 ABEJAS CORP.', "CHEESIE'S PUB & GRUB",
       'PALETERIA JALISCO', 'PALETERIA OSO POLAR II',
       'PALETERIA MONIARCAS', "PAPA T'S ITALIANO",
       'TWO ITALIANS DELI & PIZZERIA, INC.', 'DONERMEN, L.L.C.',
       'LATIN FUSION', 'GETTA POLPETTA', 'YUM DUM TRUCK',
       'SAPORI ANTICHI INTERNATIONAL IMPORTS', "PAUL'S CATERING",
       "STEVE'S 77 ICE CREAM", 'PIEROGI RIG', 'DA PIZZA DUDE',
       'DOKKAEBI TACOS', 'FIFTY FOUR ELEVEN', 'MEXI-TACOS, INC.',
       'HOME RUN INN', "TACO MARIO'S LIMITED", 'DEALICIOUS INC.',
       'KING CATERING', 'JUICERX', 'PALATERIA AYUTLA', 'RAFAEL MAGALLON',
       'LA COCINITA FOOD TRUCK CHICAGO', "MILT'S BBQ",
       'THUNDERBIRD CATERING CO', 'TAMALES Y RESTAURANT COSTA',
       'SOUTHERN PITCH FOOD TRUCK', 'THE CORNER FARMACY, LLC',
       'DIFFERENCE AFRICAN CATERING & GROCERIES CORP.', 'FLIRTY CUPCAKES',
       'PALETERIA OSO POLAR', "ABIGAIL'S ICE CREAM",
       'AAA CATERING SERVICE', 'WOW BAO', 'SUGARPIE BAKERY AND CAFE, LLC',
       "CONNIE'S PIZZA", 'Neighbor Capital', 'HAROLDS CHICKEN #55',
       'JD FREEZ', 'PIKO STREET KITCHEN', 'THUNDERBRID CATERING',
       "MEMO'S CATERING", 'MR. QUILES MEXICAN FOOD',
       'Bridgeport Pasty, LLC', 'REMEDY CHICAGO, INC.',
       'PRIORITY ENERGY LLC', 'PALACINKE CREPES', 'PATRICIA A ROBERTS',
       "LITTLE LULU'S ITALIAN ICE", "LITTLE LULU'S ITALIAN ICE INC.",
       'DEETER COOKIES', 'BISI RESTAURANT',
       "AUNTIE VEE'S CUPCAKES & DESSERTS", 'CHICAGO PIZZA BOSS',
       "Rosati's Pizza", 'COURAGEOUS BAKERY', 'FASANO PIE COMPANY',
       'BOP BAR KOREAN FOOD', 'IZAKAYA YUME',
       'K INTERCONTINENTAL RESTAURANT', 'SUPREME CATERING COMPANY',
       'TRIPLE A SERVICES', "MS. TITTLE'S CUPCAKES",
       'CHICAGO LUNCHBOX LLC', 'THE SLIDE RIDE', 'PHLAVZ FOOD TRUCK',
       'THE PASTA BOWL COMPANY', "BERT'S JERK GRILL AND SEAFOOD",
       'LITTLE SALAD SHOP', 'PALETERIA ALEX', 'FLYING TACOS',
       'K INTERCONTINENTAL RESTAURANT/ BAR, INC.', 'ELEAVEN FOOD COMPANY',
       'THREE LEGGED TACOS', "AL'S BEEF", 'BIG SHOULDERS COFFEE',
       'BOB CHA II', 'CULTURE', 'FORTY ACRES FRESH MARKET',
       "3JJJ'S BETTER TASTE JAMAICAN JERK RESTAURANT",
       'THE CAJUN CONNOISSEUR LLC', 'LA COMODITA, LLC', 'ORANGE',
       'PALETERIA Y NEVERIA LA MEXICANA YOGURT AND CHURRO SHOP LTD',
       'COLD STONE CREAMERY #20658', 'MR. QUILES',
       "C.J.'S BBQ CRUISER, L.L.C.", 'Paleteria Juarez', 'LA PATRONA',
       'CAFE MEDIA NOCHE', 'CAPONIES TRATTORIA', 'CUPCAKE GANGSTERS',
       'CAPONIES CAFE & PIZZA', 'A TEAM SERVICES', "RAY'S ISLAND GRILL",
       'PALETERIA BAMBI, INC.', 'DELICIAS ICE CREAM',
       'HUSKY HOG BBQ, LLC', 'REEF KITCHENS', 'THE ICE CREAM MACHINE',
       'TAMALEFOODIE LLC', "BIG WANG'S", 'HAUTE SAUSAGE',
       'GRACE AFRICAN RESTAURANT', 'ANDREANA LLC', 'ANI',
       'ALASKA PALETERIA  Y NEVERIA', 'THE JIBARITO STOP LLC',
       'THE SHRIMP SCHACK', 'RED BARON', "JULIA'S L'AFRIQ CUIZINE",
       'BOO COO ROUX', "BELLA'S TACOS", 'MR QUILES MEXICAN FOOD #4',
       'MR. QUILES MEXICAN FOOD #2', 'LA MIXTECA POBLANA',
       "AZTEC DAVE'S FOOD TRUCK", 'STORM ICE CREAM INC.',
       "ESTHER'S ICE CREAM", "GORDO'S HOMEMADE ICE CREAM BARS",
       'SUGAR BLISS CAKE BOUTIQUE', 'TERIYAKI BOWL', 'EL AZTECA SANCHEZ',
       'CHICAGO RIVERWALK VENTURES', 'ANTICONQUISTA CAFE', "L' PATRON",
       'PIEROGI WAGON', 'EL RAYO TACOS INC', "LUCY'S", 'WRAP IT UP',
       "DIPPIN' DOTS ICE CREAM", 'K I AFRICAN RESTAURANT',
       'LA CHAPARRITA', "CYNTHIA'S GUMBO EXPRESS", "TACO MARIO'S",
       'LOUD MOUTH FOOD BIKES', 'LA JEFA', 'MEXI-TACOS', 'EL JEFE',
       'EL PATRON', 'WARM BELLY BAKERY', 'THE PIE PATCH',
       'BLACK DOG GELATO', 'TACOS LEGADO POBLANO',
       'INDIAN FOOD ON WHEELS', 'THE CHI-CHEFF LLC', 'JUST HUMMUS',
       'HELADOS MUNDOS', 'BOB CHA', 'TACOS & SALSAS LLC',
       'MR QUILES ICE CREAM TRUCK # 3', 'NXT FRESH FOOD POP-UP',
       "MARIO'S BACKYARD EATS", 'CATHOLIC CHARITIES', 'DOWNSTATE DONUTS',
       'DELI KING INC.', 'ITSAPOP, LLC', 'HALAL N GO INC.',
       'MEDTAK, LTD.', 'ICE CREAM MACHINE', 'CASERAS SABOR REAL',
       "ALEX'S CATERING", 'Theory Sports Div Lounge',
       'BAKE ME OFF A PIECE OF THAT, LLC', 'KATE & JAN HOT DOGS',
       'JUNIOR ICE CREAM', 'PARS ICECREAM CO, INC', 'CARMEN NAVA',
       'PALETEIA AYUTLA', 'THE HAPPY LOBSTER', 'AUGUST VIANDS',
       'SWEET SPOT MACARONS', "BIG WORLD'S LLC",
       'THUNDERBIRD CATERNIG CO', 'BEYOND BORDERS FUSION FOOD, LLC',
       "HECTOR'S CATERING", 'MEDITERRANEAN EXPRESS',
       "GINO'S STEAKS TRUCK", 'THE GLADWELL COMPANY', "GORDO'S TAMALES",
       "KIM AND SCOTT'S CRAVE BAR", "is Esther's Ice cream",
       'BROWN BAG LUNCH TRUCK, LLC', 'CARNITAS DON RAFA INC',
       "MITCH & JOON'S KITCHEN", 'BLUEBERRY', 'BUSOFAT AFRICAN CUISINE',
       'IYANZE', 'PALACE GATE AFRICA RESTAURANT', 'RAFAEL MAGLLOM',
       "MEMO'S FREEZE", "MIMI'S CHICAGO HUMBLE PIE", 'PARIS OUH LALA',
       'CHICKPEA DELIGHTS', 'SAUL MAZON JR.', "YOLO'S FOOD & SNACKS",
       'BOMBAY WRAPS', 'JERK', 'ENEMY KITCHEN', 'FRESH OFF THE GRILL',
       'LOOP JUICE', "AZTEKA & SON'S CATERING SERVICE",
       'THE ALEXANDER BEETLE BAKESHOP LLC', "RAY'S ISLAND GRILL LLC",
       'Kitchfix', "LAURA'S CATERING SERVICE", "Lucy's",
       'BRUGES BROTHERS', "FALCO'S PIZZA",
       'OSAS AFRICAN RESTAURANT & CATERING SERVICES', "HAROLD'S CHICKEN",
       'B.H. LUNCH CATERING INC.', 'DONERMEN', 'EMMANUEL ICE CREAM',
       'BLUE STREET MARKET', 'THE FAT SHALLOT, LLC',
       'ROYAL CUPCAKES & BAKES', 'ROYAL ICE CREAM INC.', 'DA LOBSTA',
       'DOUGHNUT VAULT', 'CURRY CATERING', 'THE ORIGINAL SOUL VEGETARIAN',
       'DULCE IN HORTO', 'MARIA V. TRUJILLO', 'THE JIBARITO STOP',
       'T.B.S. AFRICAN RESTAURANTS', 'LA ADELITA', "GIGI' S BAKE SHOP",
       'CHICAGO CUPCAKE', 'THE ROOST', 'MR HULK ICE CREAM COMPANY',
       'LATITUDE20 LLC', 'THE SALSA TRUCK', "DUCK N' ROLL",
       'GUERRERO CATERING', 'DA LOBSTA FRENCH MARKET',
       'FIVE SQUARED FOOD TRUCK', 'HOT DOG FIEND', 'FIRECAKES TRUCK',
       'POTBELLY SANDWICH WORKS',
       'MISERICORDIA BAKERY/MISERICORDIA HEARTS AND FLOUR MFV',
       "GIORDANO'S OF RUSH", 'BRIDGEPORT PASTY LLC',
       'GREATER CHICAGO FOOD DEPOSITORY', "LINDA'S MAGIC BROWNIES",
       "PEET'S COFFEE & TEA", 'KING CON ICE CREAM', 'KYOTO BLACK',
       'I HEART HUMMUS', "ALBERTO'S PIZZA", 'PLEASANT HOUSE BAKERY',
       'SUSHI TRUCK', 'THE HAPPY LOBSTER LLC', 'THE CURRY CRUISER',
       'GOBBLE DOGGS, LLC', "CHICAGO'S FINEST DELI ON WHEELS",
       'PARS ICE CREAM CO. INC .', 'EXTREME BOUNCE HOUSE INFLATABLES',
       'JUNIOR FREEZE', 'ICE CUBED LLC', 'FLAMINGO RUM CLUB',
       'EL RANCHITO TACOS', 'up market: fresh by Walgreens',
       "NIKKI RAE'S FOOD TRUCK", 'YUMMPOPS', 'HAUTE & READY, LTD.',
       'PERK UP INC.', 'TAMALES EMMA LA CHAPARRITA', 'THE BIG SHISH',
       'WHADDA JERK LLC', "Esther's Ice cream", 'THE ART OF CHICKEN',
       'DRAGON BITES', "DELICIA'S ICE CREAM", "ABE'S CATERING",
       'BARBECUE BOSS INC.', "DELLA D'S SOUL KITCHEN LLC",
       'PACIUGO CHICAGO', 'THE MEATLOAF BAKERY', "BEE'S ICE CREAM",
       'ISAI F. PAGAZA', 'STANS DONUTS', 'MARTINEZ CATERING',
       'CHUBBY WIENERS', 'PALETERIA LOS MAGOS', 'MODEL CHEF LLC',
       "JENI'S SPLENDID ICE CREAM", "LAWRENCE'S FISH & SHRIMP",
       'HELADOS ANGIE', 'JERK TACO MAN', 'PIEROGI SQUAD', 'PATTY WAGON',
       'THE EASTMAN EGG COMPANY', 'REAL TASTE OF CHICAGO',
       'UDIS SNACK SHOP INC.', 'THE DOG STAND',
       'SUPERHEROES ICE CREAM INC.', 'OPEN KITCHENS',
       "JACK'S FORK IN THE ROAD", 'THE SHRIMP SHACK', 'ETTA',
       'TAZACOS GOURMET TACOS', 'EMANUEL ICE CREAM',
       'VALENTINA FOOD TRUCKS, LLC', 'EL BUENO TACOS', 'BRAND BBQ MARKET',
       "MAMA GREEN'S GOURMET GOODIES", 'CHICAGO SCHNITZEL KING',
       'HAUTE & READY CATERING', 'COASTLINE CATERING',
       "BEN & JERRY'S ICE CREAM", 'ALFREDO MEJIA', 'CHISCREAM',
       'PINK TACO', 'GROWING POWER, INC.', 'CHITOWN CHOW DOWN',
       'PIEROGI STREET', 'CHICAGOS FINEST', 'AMERICAN GLORY FOOD CART',
       "CHESA'S GLUTEN FREE", 'SMOKE DADDY', "MATT'S CATERING"],
      dtype=object)

In [11]:
for index, row in merge_df.iterrows():
    post = {
        "business_name": str(row["business_name"]),
        "zip_code": int(row["zip_code"]),
        "app_type": str(row["app_type"]),
        "date_issued": str(row["date_issued"]),
        "agi": str(row["agi"]),
        "total_income": str(row["total_income"]),
        "number_of_individuals": str(row["number_of_individuals"]),
        "number_of_dependents": str(row["number_of_dependents"])
    }

In [12]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

# Define the 'classDB' database in Mongo
db = client.chicagoFT

In [13]:
food_trucks = db.food_trucks.find()

for business in food_trucks:
    print(business)

ServerSelectionTimeoutError: localhost:27017: [WinError 10061] No connection could be made because the target machine actively refused it, Timeout: 30s, Topology Description: <TopologyDescription id: 5f62e2ff8c623d3640522001, topology_type: Single, servers: [<ServerDescription ('localhost', 27017) server_type: Unknown, rtt: None, error=AutoReconnect('localhost:27017: [WinError 10061] No connection could be made because the target machine actively refused it',)>]>